@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<button><a href="mailto:roryromanovich@gmail.com">Contact me</a></button>
<button><a href="https://www.stclaircollege.ca/">St.Clair College</a></button>
<img src="~/pic2.jpg" alt="2 Choppers" width="300px" height="300px" />
<p>Rory is a second year Web Developer, he works for 2 local non-profits, and one charity.</p>